@model ecommerce.ViewModels.Product.Products_With_CategoriesVM

@{
    ViewData["Title"] = "GetAll";
    Layout = "_AllProductsLayout";

}

@section Styles {
    <style>
        /* Additional CSS for table styling */
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px; /* Adjust margin as needed */
        }

            .table th,
            .table td {
                text-align: center;
                vertical-align: middle;
                padding: 8px; /* Adjust padding as needed */
            }

            .table img {
                display: block;
                margin: 0 auto;
            }

        .btn-action {
            margin-right: 5px;
        }

        td {
            vertical-align: middle;
            text-align: center;
        }

        #navigation {
            margin-top: 0;
        }

        footer {
            margin-bottom: 0;
        }

        .clear-search-btn {
            margin-left: 10px; /* Adjust margin as needed */
            font-weight: bold;
            margin-right: 0;
            height: 40px; /* Adjust height as needed */
            line-height: 40px; /* Center text vertically */
            padding: 0 20px; /* Adjust padding as needed */
            border-radius: 20px 0 0 20px; /* Apply border radius to left side only */
            background-color: #c0392b; /* Button background color (red) */
            color: #ffffff; /* Button text color */
            border: 1px solid #c0392b; /* Button border */
            transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Add transition effect */
        }

            .clear-search-btn:hover {
                background-color: #a93226; /* Hover background color (darker red) */
                border-color: #a93226; /* Hover border color */
            }

        #searchProdName {
            margin: 0;
            z-index: 1001; /* Ensure it's above other elements */
        }

        #header,
        #top-header {
            width: 100%;
            top: 0;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add a shadow */
        }

        .myCart:hover {
            cursor: pointer;
            /* Add other hover effects here */
        }
    </style>
}

@* ------------------------------------------------------------------- *@

<!-- HEADER -->
<header id="header" style="margin-top : 0px">
    <!-- TOP HEADER -->
    <div id="top-header" >
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
            </ul>
            <ul class="header-links pull-right">
                <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
                <li><a href="/account/myAccount"><i class="fa fa-user-o"></i> @User.Identity.Name Account</a></li>

            </ul>
        </div>
    </div>
    <!-- /TOP HEADER --> 

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" class="logo">
                            <img src="/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form asp-action="Search" asp-controller="Product" method="post">
                            <a asp-action="GetAll" asp-controller="Product" class="btn btn-info clear-search-btn">Clear search</a>
                            <input class="input" name="searchProdName" id="searchProdName" placeholder="Search here">
                            <button type="submit" class="search-btn">Search</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->
                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">

                        <!-- Cart -->
                        <div class="dropdown myCart">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Your Cart</span>
                                <div class="qty">@Model?.Cart?.CartItems?.Count</div>
                            </a>
                            <div class="cart-dropdown">
                                <div class="cart-list">
                                    @foreach (var item in Model?.Cart?.CartItems)
                                    {
                                        <div class="product-widget">
                                            <div class="product-img">
                                                <img src="~/img/@item?.Product?.ImageUrl" alt="@item?.Product?.Name" width="200" />
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name"><a asp-action="Details" asp-controller="Product" asp-route-id="@item.Product.Id">@item?.Product?.Name</a></h3>
                                                <h4 class="product-price"><span class="qty">@item?.Quantity x</span>$ @item?.Product?.Price</h4>
                                            </div>
                                            <button class="delete"><i class="fa fa-close"></i></button>
                                        </div>
                                    }
                                </div>

                                <div class="cart-summary">
                                    <small>@Model.Cart.CartItems.Count Item(s) selected</small>
                                    <h5>SUBTOTAL: $ @Model?.Cart?.CartItems?.Sum(c => c?.Product?.Price * c?.Quantity)</h5>
                                </div>
                                <div class="cart-btns">
                                    <a asp-action="GetAll" asp-controller="CartItem">View Cart</a>
                                    <a asp-action="Checkout" asp-controller="Order" asp-route-cartId="@Model?.Cart?.Id" asp-route-userId="@ViewBag?.UserId">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /Cart -->
                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->


<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li><a asp-action="Index" asp-controller="Home">Home</a></li>

                <li><a asp-action="GetAll" asp-controller="Category">Categories</a></li>
                <li><a asp-action="GetAll" asp-controller="Product">Products</a></li>

                <li><a asp-action="Details" asp-controller="Category" asp-route-Id="1">Smartphones</a></li>
                <li><a asp-action="Details" asp-controller="Category" asp-route-Id="2">Laptops</a></li>
                <li><a asp-action="Details" asp-controller="Category" asp-route-Id="3">Cameras</a></li>
                <li><a asp-action="Details" asp-controller="Category" asp-route-Id="4">Accessories</a></li>

            </ul>
            <!-- /NAV -->   
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->

@* ------------------------------------------------------------------- *@

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                    @* <li><a asp-action="GetAll" asp-controller="Category">All Categories</a></li> *@
                    <li class="active">All Products</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->


<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Categories</h3>
                    <div class="checkbox-filter">
                        @foreach (var category in Model?.Categories)
                        {
                            <div class="form-check">
                                <input class="form-check-input" checked type="checkbox" id="category-@category?.Id" onchange="DisplayCategoryProducts()">
                                <label class="form-check-label" for="category-@category?.Id">@category?.Name</label>
                            </div>
                        }
                    </div>
                </div>
                <!-- /aside Widget -->
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Price</h3>
                    <div class="price-filter">
                        <div id="price-slider" onmouseup="filterByPrice()"></div>
                        <div class="input-number price-min">
                            <input id="price-min" type="number" onblur="filterByPrice()">
                            <span class="qty-up">+</span>
                            <span class="qty-down">-</span>
                        </div>
                        <span>-</span>
                        <div class="input-number price-max">
                            <input id="price-max" type="number" onblur="filterByPrice()">
                            <span class="qty-up">+</span>
                            <span class="qty-down">-</span>
                        </div>
                    </div>
                </div>
                <!-- /aside Widget -->

                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Brand</h3>
                    <div class="checkbox-filter">
                        <div class="input-checkbox">
                            <input type="checkbox" id="brand-1">
                            <label for="brand-1">
                                <span></span>
                                SAMSUNG
                                <small>(578)</small>
                            </label>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="brand-2">
                            <label for="brand-2">
                                <span></span>
                                LG
                                <small>(125)</small>
                            </label>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="brand-3">
                            <label for="brand-3">
                                <span></span>
                                SONY
                                <small>(755)</small>
                            </label>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="brand-4">
                            <label for="brand-4">
                                <span></span>
                                SAMSUNG
                                <small>(578)</small>
                            </label>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="brand-5">
                            <label for="brand-5">
                                <span></span>
                                LG
                                <small>(125)</small>
                            </label>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="brand-6">
                            <label for="brand-6">
                                <span></span>
                                SONY
                                <small>(755)</small>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- /aside Widget -->

                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Top selling</h3>

                    @foreach (var item in Model.Products.Take(3))
                    {
                        <a asp-action="Details" asp-controller="Product" asp-route-id="@item.Id">
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="/img/@item.ImageUrl" alt="@item.Name" height="60">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">@item.Category.Name</p>
                                    <h3 class="product-name"><a asp-action="Details" asp-controller="Product" asp-route-id="@item.Id">@item.Name</a></h3>
                                    <h4 class="product-price">$@item.Price <del class="product-old-price">$@(item.Price + 1999)</del></h4>
                                </div>
                            </div>
                        </a>
                    }
             
                </div>
                <!-- /aside Widget -->
            </div>
            <!-- /ASIDE -->

            <!-- STORE ---------------------------------------------------------->
            <div id="productsPartial">
                <partial name="_ProductsPartial"></partial>
            </div>
            <!-- /STORE --------------------------------------------------------->
            <!-- Centered Pagination Section -->
            <div class="container" style="margin-bottom:25px">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="d-flex justify-content-center">
                            <!-- store bottom filter -->
                            <div class="store-filter clearfix pagination text-center">
                                <span class="store-qty">Showing @ViewBag?.PageSize-@ViewBag?.TotalProductsNumber products</span>
                                <ul class="store-pagination" aria-label="Pagination">
                                    @for (int i = 1; i <= ViewBag?.TotalPages; i++)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" asp-action="GetAllFiltered" asp-controller="Product" data-page="@i" asp-route-page="@i">
                                                @i
                                            </a>
                                        </li>
                                    }
                                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                            <!-- /store bottom filter -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Centered Pagination Section -->


        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

@section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(document).ready(function ()
        {
            function DisplayCategoryProducts() {
                console.log("entered");

                // Get the selected category IDs
                let selectedCategIdsArr = $('input[type="checkbox"][id^="category-"]:checked')
                    .map(function () {
                        return parseInt(this.id.replace('category-', ''));

                    }).get();

                console.log(selectedCategIdsArr);

                let minInput = parseInt(document.getElementById('price-min').value);

                let maxInput = parseInt(document.getElementById('price-max').value);

                console.log("Min price from checkBox :" + minInput);

                console.log("Max price from checkBox  :" + maxInput);

                // Perform Ajax call
                $.ajax({
                    url: '/Product/GetAllFiltered',
                    type: 'GET',
                    traditional: true, // Set traditional to true
                    data: { 
                        categIds: selectedCategIdsArr , 
                        minPrice : minInput , 
                        maxPrice : maxInput ,
                    },
                    success: function (response) 
                    {
                        console.log("success");
                        // Handle the response here
                        $("#productsPartial").html(response);
                    },
                    error: function (xhr, status, error) 
                    {
                        console.error("AJAX request failed:", status, error);
                        // Handle the failure here
                    }
                });
            }

            // Attach onchange event handler to checkboxes
            $('input[type="checkbox"][id^="category-"]').change(DisplayCategoryProducts);
        });

        $(function () 
        {
            var productsNames = @Json.Serialize(@ViewBag.AllProductsNames);

            $("#searchProdName").autocomplete({
                source: productsNames,
                minLength: 1
            });
        });

         function filterByPrice()
         {
            let minInput = parseInt( document.getElementById('price-min').value);

            let maxInput = parseInt(document.getElementById('price-max').value);

             console.log("Min price :" + minInput);

             console.log("Max price :" + maxInput);

            // Get all the checkboxes within the checkbox-filter div
            var checkboxes = document.querySelectorAll('.checkbox-filter input[type="checkbox"]');

            // Array to store the IDs of selected checkboxes as integers
            var selectedCheckboxes = [];

            // Loop through each checkbox
            checkboxes.forEach(function (checkbox) {
                // Check if the checkbox is checked
                if (checkbox.checked) {
                    // Extract the category ID from the checkbox ID and parse it to integer
                    var categoryId = parseInt(checkbox.id.split('-')[1]);
                    // Add the category ID to the selectedCheckboxes array
                    selectedCheckboxes.push(categoryId);
                }
            });

            // Now selectedCheckboxes array contains the IDs of all selected checkboxes as integers
            console.log(selectedCheckboxes);

            $.ajax({
                url: '/Product/GetAllFiltered',
                type: 'GET',
                traditional: true, // Set traditional to true
                data: {
                    minPrice : minInput, 
                    maxPrice: maxInput ,
                    categIds: selectedCheckboxes
                },
                success: function (response) 
                {
                    console.log("success");

                    $("#productsPartial").html(response);
                },
                error: function (xhr, status, error)
                {
                    console.error("AJAX request failed:", status, error);
                }
            });

         }
    

        //---------------------------------------------
        // pagination using ajax returning partial view

        $(document).ready(function ()
        {
            $(".pagination a").click(function (e) 
            {
                e.preventDefault();

                var pageNum = $(this).data("page");

                // Get all the checkboxes within the checkbox-filter div
                var checkboxes = document.querySelectorAll('.checkbox-filter input[type="checkbox"]');

                // Array to store the IDs of selected checkboxes as integers
                var selectedCheckboxes = [];

                // Loop through each checkbox
                checkboxes.forEach(function (checkbox) 
                {
                    // Check if the checkbox is checked
                    if (checkbox.checked) 
                    {
                        // Extract the category ID from the checkbox ID and parse it to integer
                        var categoryId = parseInt(checkbox.id.split('-')[1]);
                        // Add the category ID to the selectedCheckboxes array
                        selectedCheckboxes.push(categoryId);
                    }
                });

                // Now selectedCheckboxes array contains the IDs of all selected checkboxes as integers
                console.log(selectedCheckboxes);

                let minInput = parseInt(document.getElementById('price-min').value);

                let maxInput = parseInt(document.getElementById('price-max').value);

                loadProducts(pageNum, selectedCheckboxes, minInput , maxInput );
            });

            function loadProducts(pageNum, selectedCategIdsArr, minInput, maxInput) 
            {
                console.log("suceessfully got : " + selectedCategIdsArr);

                console.log("suceessfully got : " + pageNum);
                    
                console.log("Min price from pagination :" + minInput);

                console.log("Max price from pagination  :" + maxInput);

                $.ajax({
                    url: '/Product/GetAllFiltered',
                    type: 'GET',
                    traditional: true, // Set traditional to true
                    data: {
                        page: pageNum,
                        categIds: selectedCategIdsArr ,
                        minPrice : minInput , maxPrice : maxInput ,
                    }, 

                    success: function (response) 
                    {
                        console.log("success");

                        $("#productsPartial").html(response);
                    },
                    error: function (xhr, status, error) 
                    {
                        console.error("AJAX request failed:", status, error);
                    }
                });
            }
        });

        function AddProduct(){
            alert("Product Added to cart successfully");
        }

    </script>
}
