
@model IEnumerable<ecommerce.Models.Category>

@{
    ViewData["Title"] = "Categories";
}


@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService AuthorizationService;

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="active">All Categories</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<div class="container">

    @* @if((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded) *@
    @* { *@
        
      <div class="d-flex">
        <h2>All Categories</h2>
        <a class="btn btn-danger" asp-action="insert">Add New Category</a>
      </div>
   
    @* } *@

    @* omar *@
 @*    @User.Identity.IsAuthenticated{
        
        @User.Identity.IsAuthenticated("Admin"){
            
        }
    } *@

    <div class="row">
        @foreach (Category category in Model)
        {
            <div class="col-md-4 col-xs-6">

                <div class="shop">
                    <div class="shop-img">
                        <img src="~/img/@category.ImageUrl" alt="" height="220">
                    </div>
                    <div class="shop-body">
                        <h3>@category.Name<br>Collection</h3>
                        <a asp-action="GetAll" asp-controller="Product" class="cta-btn"> Show All <i class="fa fa-arrow-circle-right"></i></a>
                        <br />
                        @* @User.Identity  *@
                        @* @if ((await IAuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded) *@
                        @* { *@
                            <a asp-action="Update" asp-controller="Category" asp-route-id="@category.Id" class="cta-btn"> Update <i class="fa fa-arrow-circle-right"></i></a>
                            <br />
                            <a asp-action="Delete" asp-controller="Category" asp-route-id="@category.Id" class="cta-btn"> Delete <i class="fa fa-arrow-circle-right"></i></a>
                        @* } *@
                    </div>
                </div>
            </div>
        }
    </div>
</div>



@section Styles {
    <style>
        /* Additional CSS for table styling */
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px; /* Adjust margin as needed (I recomend that We should standardize the layout calculations) */
        }

            .table th, .table td {
            text-align: center;
            vertical-align: middle;
            padding: 8px; /* Adjust padding as needed */
        }


            .table img {
                display: block;
                margin: 0 auto;
            }

        .btn-action {
            margin-right: 5px;
        }

        td {
            vertical-align: middle;
            text-align: center;
        }
    </style>
}

@section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
}


