@model IEnumerable<ecommerce.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="active">All Categories</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                <a class="btn btn-primary" asp-action="insert">Add New Category</a>
            </p>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Image</th>
                            <th scope="col">Details</th>
                            <th scope="col">Update</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="vertical-align: middle; text-align: center;">@Html.DisplayFor(modelItem => item.Id)</td>
                                <td style="vertical-align: middle; text-align: center;">@Html.DisplayFor(modelItem => item.Name)</td>
                                <td style="vertical-align: middle; text-align: center;">@Html.DisplayFor(modelItem => item.Description)</td>
                                <td style="vertical-align: middle; text-align: center;"><img src="@Html.DisplayFor(modelItem => item.ImageUrl)" height="100" /></td>
                                <td style="vertical-align: middle; text-align: center;">
                                    <a class="btn btn-sm btn-info mr-1" href="@Url.Action("Details", "Category", new { id = item.Id })">Details</a>
                                </td>
                                <td style="vertical-align: middle; text-align: center;">
                                    <a class="btn btn-sm btn-warning mr-1" href="@Url.Action("Update", "Category", new { id = item.Id })">Edit</a>
                                </td>
                                <td style="vertical-align: middle; text-align: center;">
                                    <a class="btn btn-sm btn-danger" href="@Url.Action("Delete", "Category", new { id = item.Id })">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <style>
        /* Additional CSS for table styling */
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px; /* Adjust margin as needed (I recomend that We should standardize the layout calculations) */
        }

            .table th, .table td {
            text-align: center;
            vertical-align: middle;
            padding: 8px; /* Adjust padding as needed */
        }

            .table img {
                display: block;
                margin: 0 auto;
            }

        .btn-action {
            margin-right: 5px;
        }

        td {
            vertical-align: middle;
            text-align: center;
        }
    </style>
}

@section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
}


