@model List<Category>
@{
    ViewData["Title"] = "Dashbourd";
    Layout = "_DashbourdLayout";
}

<style>
    html,
    body,
    .intro {
        height: 100%;
    }

    table td,
    table th {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    thead th {
        color: #fff;
    }

    .card {
        border-radius: .5rem;
    }

    .table-scroll {
        border-radius: .5rem;
    }

        .table-scroll table thead th {
            font-size: 1.25rem;
        }

    thead {
        top: 0;
        position: sticky;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container">
    <p class="my-4">
        <a class="btn btn-primary" asp-action="insert" asp-controller="category">Add New Category</a>
    </p>
    <section class="intro">
        <div class="bg-image h-100" style="background-color: #f5f7fa;">
            <div class="mask d-flex align-items-center h-100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body p-0">
                                    <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                                        <table class="table table-striped mb-0">
                                            <thead style="background-color: #002d72;">
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Image</th>
                                                    @* <th scope="col">Desc.</th> *@
                                                    <th scope="col">action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (Category c in Model)
                                                {
                                                    <tr>
                                                        <td>@c.Id</td>
                                                        <td>@c.Name</td>
                                                        <td><img src="~/img/@c.ImageUrl" alt="Alternate Text" height="70"  /> </td>
                                                        @* <td>@c.Description</td> *@

                                                        <td>
                                                            <a asp-action="categoryDetails" asp-route-id="@c.Id" asp-controller="dashbourd" class="btn btn-info"><i class="fa-solid fa-bars"></i></a>
                                                            <a asp-action="update" asp-route-id="@c.Id" asp-controller="Category" class="btn btn-warning"><i class="fa-regular fa-pen-to-square"></i></a>
                                                            <a asp-action="delete" asp-route-id="@c.Id" asp-controller="Category" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>

                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

